.version.index /* version checker */
{
	color: #0000E7;
	background-color: #4A15F3;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1062px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#page_position_content
{
	margin-bottom: -39px;
	width: 0.01px;
}

#pu1828
{
	width: 0.01px;
}

#u1828
{
	z-index: 3;
	min-height: 131px;
	padding-left: 87px;
	padding-top: 8px;
	padding-right: 68px;
}

#u389-11
{
	z-index: 4;
	width: 186px;
	min-height: 80px;
	margin-left: 8px;
}

#u390-9
{
	z-index: 15;
	width: 613px;
	min-height: 29px;
	margin-top: 22px;
}

#u1828-bw
{
	z-index: 3;
	min-height: 131px;
}

#u1419
{
	z-index: 49;
	width: 80px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 15px;
}

#u419-24
{
	z-index: 78;
	width: 597px;
	min-height: 600px;
	background-color: transparent;
	margin-left: 71px;
	margin-top: 76px;
	position: relative;
}

#u419-2
{
	font-size: 23px;
	text-align: center;
	line-height: 28px;
	color: #F7931E;
	font-weight: bold;
}

#u419-4,#u419-9
{
	font-size: 20px;
	text-align: center;
	line-height: 24px;
}

#u419-6
{
	font-weight: bold;
}

#u419-10
{
	text-align: center;
}

#u419-12
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
}

#u419-16
{
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
}

#u419-18,#u419-22
{
	text-align: right;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u419-15,#u419-17,#u419-19
{
	font-weight: bold;
	line-height: 15px;
}

#u419-20
{
	font-size: 12px;
	font-weight: bold;
	line-height: 13px;
}

#u419-14,#u419-21
{
	line-height: 15px;
}

#u1898
{
	z-index: 2;
	min-height: 97px;
	padding-bottom: 108px;
}

#pu391-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 70px;
}

#u391-5
{
	z-index: 24;
	width: 180px;
	min-height: 19px;
}

#menuu1657
{
	z-index: 51;
	width: 137px;
	margin-left: 22px;
	margin-top: 8px;
}

#u1658
{
	width: 137px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1659
{
	width: 137px;
	padding-bottom: 17px;
}

#u1659:hover
{
	width: 137px;
	min-height: 0px;
	margin: 0px;
}

#u1659.MuseMenuActive
{
	width: 137px;
	min-height: 0px;
	margin: 0px;
}

#u1660-4
{
	width: 137px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1659:hover #u1660-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u1659.MuseMenuActive #u1660-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u1663
{
	width: 137px;
	top: 34px;
}

#u1673
{
	width: 135px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1673:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1673:active
{
	width: 135px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1674-4
{
	width: 127px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1673:hover #u1674-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 127px;
	margin: 0px -10000px 0px 0px;
}

#u1673:active #u1674-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 127px;
	margin: 0px -10000px 0px 0px;
}

#u1682
{
	width: 135px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1673.MuseMenuActive,#u1682:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1682:active
{
	width: 135px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1684-4
{
	width: 127px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1673.MuseMenuActive #u1674-4,#u1682:hover #u1684-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 127px;
	margin: 0px -10000px 0px 0px;
}

#u1682:active #u1684-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 127px;
	margin: 0px -10000px 0px 0px;
}

#u1664,#u1672,#u1679,#u1665
{
	width: 137px;
}

#u1666
{
	width: 135px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1682.MuseMenuActive,#u1666:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1666:active
{
	width: 135px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1666.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1669-4
{
	width: 127px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1682.MuseMenuActive #u1684-4,#u1666:hover #u1669-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 127px;
	margin: 0px -10000px 0px 0px;
}

#u1666:active #u1669-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 127px;
	margin: 0px -10000px 0px 0px;
}

#u1666.MuseMenuActive #u1669-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 127px;
	margin: 0px -10000px 0px 0px;
}

#u392-12
{
	z-index: 29;
	width: 214px;
	min-height: 72px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 294px;
}

#u393
{
	z-index: 41;
	width: 38px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 534px;
}

#u399
{
	z-index: 43;
	width: 35px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 589px;
}

#u405
{
	z-index: 45;
	width: 37px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 641px;
}

#u411
{
	z-index: 47;
	width: 36px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 696px;
}

#u411_img
{
	padding-bottom: 1px;
}

#u1898-bw
{
	z-index: 2;
	min-height: 97px;
	margin-top: 81px;
}

body
{
	position: relative;
	min-width: 768px;
	padding-bottom: 39px;
}

#page .verticalspacer
{
	clear: both;
}

